@font-face {
  font-family: AvenirNext;
  src: url('./fonts/AvenirNextLTPro-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #ebeef1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

a.active-effect:hover {
  text-decoration: underline;
}

button:hover,
.intuit-logo:hover {
  cursor: pointer;
}

.sign-in-section {
  padding: 10px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.sign-in-content {
  margin: 0 10px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sign-in-content p {
  color: #505050;
  font-size: 12px;
  display: flex;
}

.sign-in-content a {
  color: #0077c5;
}

.sign-in-button {
  color: #fff;
  background-color: #0077c5;
  font-size: 13.5px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
}

.fa-lock {
  margin-right: 6px;
  padding: 10px 0;
}

.intuit-logo {
  height: 35px;
  margin: 20px 0;
}

nav {
  margin-bottom: 15px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  font-size: 20px;
  margin-right: 6px;
}

nav img {
  width: 23px;
  height: 23px;
}

nav a {
  display: flex;
  gap: 6px;
  color: #505050;
}