@font-face {
  font-family: AvenirNext;
  src: url('./fonts/AvenirNextLTPro-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #ebeef1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: 12px;
  color: #505050;
}

button {
  color: #fff;
  background-color: #0077c5;
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

a.active-effect:hover {
  text-decoration: underline;
}

button:hover,
.intuit-logo:hover {
  cursor: pointer;
}

.sign-in-section {
  padding: 10px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.sign-in-content {
  margin: 0 10px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sign-in-content p {
  color: #505050;
  font-size: 12px;
  display: flex;
}

a.active-effect {
  color: #0077c5;
}

.sign-in-button {
  font-size: 13.5px;
  padding: 0 20px;
}

.fa-lock {
  margin-right: 6px;
  padding: 10px 0;
}

.intuit-logo {
  height: 35px;
  margin: 20px 0;
}

nav {
  margin-bottom: 15px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  font-size: 20px;
  margin-right: 6px;
}

nav img {
  width: 23px;
  height: 23px;
}

nav a {
  display: flex;
  gap: 6px;
  color: #505050;
}

form {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  width: 380px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

form h2 {
  font-size: 24px;
  color: #393A3D;
}

.form-description {
  color: #393A3D;
  padding: 20px 12px;
  font-size: 14px;
}

form label {
  font-size: 14px;
  color: #404040;
  display: flex;
  margin-bottom: 6px;
}

form input {
  width: 100%;
  height: 34px;
  font-size: 18px;
  padding: 0 8px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}

#email,
#password,
.phone-details {
  margin-bottom: 25px;
}

.phone-details {
  color: #444444;
  text-align: left;
  font-size: 10px;
  padding: 5px 0;
}

#password {
  background: url('./img/unlock.png') no-repeat;
  background-size: 20px;
  background-position: right 10px bottom 50%;
}

button[type="submit"] {
  width: 100%;
  padding: 6px;
  font-size: 15.75px;
  margin-bottom: 20px;
}

.terms-and-conditions {
  font-size: 12px;
  color: #757575;
  padding: 0 4px;
  font-style: italic;
}

.terms-update-date {
  font-style: italic;
  font-weight: 900;
  color: #4d4d4d;
  margin: 2px 0 32px;
  font-size: 14px;
}

.captcha {
  margin: 0 -30px -30px;
  background-color: #eceef1;
  color: #4d4d4d;
  font-size: 10px;
  padding: 16px;
}

footer {
  text-align: center;
  margin-bottom: 92px;
}

footer li {
  display: inline-block;
  margin-right: 6px;
}

footer ul {
  margin-bottom: 4px;
}

footer a {
  color: #505050 !important;
}